* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

html, body {
  height: 100vh;
  overflow: hidden;
}

.about-container {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: rgba(217, 217, 217, 0.4);
  border-top: 2px solid #575757;
  padding: 15px 20px;
  text-align: center;
}

.app-title {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  font: 400 20px 'Josefin Sans', sans-serif;

}
.content-wrapper {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content-grid {
  width: 1026px;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.main-content {
  color: #000;
  font: 400 20px 'Arimo', sans-serif;
  overflow-y: auto;
  padding-right: 20px;
}

.section-title {
  font: 36px 'Josefin Sans', sans-serif;
  margin-bottom: 23px;
}

.description {
  margin: 28px 0;
}

.app-info {
  margin-top: 40px;
  padding-left: 11px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 40px;
}

.fsl-image {
  width: 171px;
  height: auto;
  object-fit: contain;
}

.app-footer {
  background-color: #EEEEEE;
  border-top: 2px solid #575757;
  padding: 10px 0;
}

.footer-nav {
  max-width: 600px;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  text-align: center;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

.nav-link.active {
  color: #004AAD;
}

.nav-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (min-width: 769px) {
  body {
      overflow: hidden;
  }

  .main-content {
      overflow-y: hidden;
  }
}
